@if (todo) {
<ion-card [color]="todo.idStato | statoTodo : 'colore' | async" [button]="button" (click)="clicked()">

  <ion-card-header>

    <div class="flex ion-justify-content-between">
      <ion-card-subtitle class="ion-text-uppercase">
        {{todo.idStato | statoTodo | async}}
      </ion-card-subtitle>

      @if(button){
      <ion-icon class="icona-modifica" name="open-outline"></ion-icon>
      }
    </div>


    <ion-card-title>{{todo.titolo}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{todo.descrizione}}

    @for(campo of campiTesto; track campo) {
    <app-campo-aggiuntivo [campo]="campo"></app-campo-aggiuntivo>
    }
    @for(campo of campiFlag; track campo) {
    <app-campo-aggiuntivo [campo]="campo"></app-campo-aggiuntivo>
    }


    <div class="ion-text-right" style="font-size: 12px; margin-top: .4rem;">
      {{todo.dataCreazione | date : 'dd/MM/yy HH:mm:ss'}}
    </div>
  </ion-card-content>

</ion-card>
} @else {
<ion-card>
  <ion-card-content>

    ToDo non valorizzata

  </ion-card-content>
</ion-card>
}