@if (todo) {
<ion-card>

  <ion-card-header>
    <ion-card-subtitle>{{todo.idStato | statoTodo | async}}</ion-card-subtitle>
    <ion-card-title>{{todo.titolo}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{todo.descrizione}}
  </ion-card-content>

  <ion-button (click)="salva()">salva</ion-button>
  @if (todo.id) {
  <ion-button color="danger" (click)="elimina()">elimina</ion-button>
  }
</ion-card>
} @else {
<ion-card>
  <ion-card-content>

    ToDo non valorizzata

  </ion-card-content>
</ion-card>
}