@if (todo) {
<ion-card [color]="todo.idStato | statoTodo : 'colore' | async" button (click)="apri()">

  <ion-card-header>

    <div class="flex ion-justify-content-between">
      <ion-card-subtitle class="ion-text-uppercase">
        {{todo.idStato | statoTodo | async}}
      </ion-card-subtitle>

      <ion-icon class="icona-modifica" name="open-outline"></ion-icon>
    </div>


    <ion-card-title>{{todo.titolo}}</ion-card-title>
  </ion-card-header>
  @if(todo.descrizione){
  <ion-card-content>
    {{todo.descrizione}}
  </ion-card-content>
  }
</ion-card>
} @else {
<ion-card>
  <ion-card-content>

    ToDo non valorizzata

  </ion-card-content>
</ion-card>
}